.footer{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 50;
    width: 100%;
}
    .footer a:hover {
        background: #ddd;
        color: black;
    }

.navbar{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}


.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 0px;
}

body{
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 0px;
}

.bg-color{
    text-shadow: 2px 2px teal;
    color: rgb(57, 57, 58);
}

.schneiderwebdev{
    border-top: 200px green;
    text-align: center;
    color: rgb(59, 59, 59);
}
h1.center{
    text-align: center;
    color: white;
}

.left{
    display: flex;
    flex-direction: row-reverse
}